@import '../../styles/variables';
@import '../../styles/mixins';

.project {

    &__topSection {
        background-color: $gray;
        padding-bottom: 44px;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 298px;

        @include mobile {
            flex-direction: column;
            text-align: center;
            padding: 25px;
        }

        &__name {
            width: 430px;

            @include mobile {                
                width: auto;
            }

            .header_main {
                margin-bottom: 14px;

                .header_underlined {
                    text-align: left;
                }
                .header_underlined_line {
                    margin-left: 0;

                    @include mobile {
                        margin-left: auto;
                    }
                }
            }
        }

        &__brif {
            font-size: 22px;
            line-height: 1;
            color: $red;
            max-width: 343px;

            @include mobile {
                font-size: 16px;
                line-height: 1.25;
                max-width: initial;
            }
        }

        &__details {
            width: 725px;
            font-size: 22px;
            line-height: 1.09;
            white-space: pre-line;
            margin-bottom: 15px;

            @include mobile {                
                width: auto;
                font-size: 20px;
                line-height: 1;
                color: #89adbd;
                margin-bottom: 27px;
            }
        }
    }

    &__screenshots {
        padding-top: 20px;
        padding-bottom: 40px;
        display: flex;
        align-items: center;
        flex-direction: column;

        @include mobile {
            padding-top: 10px;
            padding-right: 20px;
            padding-bottom: 20px;
            padding-left: 20px;
        }

        img {
            max-width: 100%;
            margin-bottom: 20px;

            @include mobile {
                margin-bottom: 10px;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}