@import './variables';

$light: '../fonts/Sofia-Pro-Light/Sofia Pro Light';
$regular: '../fonts/Sofia-Pro-Regular/Sofia Pro Regular';
$bold: '../fonts/Sofia-Pro-Bold/Sofia Pro Bold';

@font-face {
  font-family: 'Sofia Pro';
  src: url('#{$light}.eot'); /* IE9 Compat Modes */
  src: url('#{$light}.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('#{$light}.woff') format('woff'), /* Modern Browsers */
        url('#{$light}.ttf')  format('truetype'), /* Safari, Android, iOS */
        url('#{$light}.svg#65943740c25c4cb0404f4736aa9282c9') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  $font-light;
}

@font-face {
	font-family: 'Sofia Pro';
	src: url('#{$regular}.eot'); /* IE9 Compat Modes */
	src: url('#{$regular}.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
      url('#{$regular}.woff') format('woff'), /* Modern Browsers */
		  url('#{$regular}.ttf')  format('truetype'), /* Safari, Android, iOS */
      url('#{$regular}.svg#65943740c25c4cb0404f4736aa9282c9') format('svg'); /* Legacy iOS */
      
	font-style:   normal;
	font-weight:  $font-regular;
}

@font-face {
	font-family: 'Sofia Pro';
	src: url('#{$bold}.eot'); /* IE9 Compat Modes */
	src: url('#{$bold}.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('#{$bold}.woff') format('woff'), /* Modern Browsers */
		 url('#{$bold}.ttf')  format('truetype'), /* Safari, Android, iOS */
		 url('#{$bold}.svg#65943740c25c4cb0404f4736aa9282c9') format('svg'); /* Legacy iOS */

	font-style:   normal;
	font-weight:  $font-bold;
  }

  @font-face {
	font-family: 'New York Small';
	src: url('../fonts/NewYorkSmall-Regular.otf') format('opentype');
	
	font-style:   normal;
	font-weight:  normal;
  }