$font-size-base: 16px;
$font-color-base : #184353;

$white: #fff;
$gray: #eeeae6;
$black: #000;
$red: #f1574b;

$base-color : #184353;
$heading-line: #ecd596;
$navbar-link: #01414b;
$footer-bg: #0e2d39;

$input-focus: #50324c;
$checkbox-checked: #89adbd;

$font-light: 400;
$font-regular: 500;
$font-bold: 700;