@import '../../../../styles/variables';
@import '../../../../styles/mixins';

.section_featured_projects {
    padding-top: 30px;
    padding-bottom: 30px;
    overflow: hidden;

    @include mobile {        
        padding-bottom: 40px;
    }
}

.projects_row {
    display: flex;

    &.first_row {
        animation:slide-left 60s linear infinite;

        @include mobile {
            animation:slide-left-mobile 40s linear infinite;
        }
    }

    &.second_row {
        margin-top: 25px;
        animation:slide-right 40s linear infinite;

        @include mobile {
            margin-top: 13px;
            animation:slide-right-mobile 40s linear infinite;
        }
    }

    &__img {
        display: block;
        transition: opacity 0.5s;

        @include mobile {
            width: 224px;
            height: 137px;
        }
    }

    &__item {
        margin-right: 30px;
        position: relative;
        cursor: pointer;

        @include mobile {
            margin-right: 17px;
        }

        &__overlay {
            position: absolute;
            width: 100%;
            height: 100%;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            opacity: 0;
            background-color: rgba(24, 67, 83, 0.75);
            transition: opacity 0.5s;
            border-radius: 10px;

            .project_name {
                font-size: 35px;
                color: $white;
            }

            .project_brif {
                width: 302px;
                font-size: 22px;
                font-weight: $font-light;
                line-height: 1.09;
                color: $white;
                margin-top: 12px;
            }
        }

        &:hover .projects_row__item__overlay {
            opacity: 1;
        }
    }
}

.projects__viewAllBtn {
    font-size: 18px;
    font-weight: $font-bold;
    color: $white;
    background-color: $red;
    width: 161px;
    height: 35px;
    border-radius: 15.5px;
    line-height: 35px;
    display: block;
    text-align: center;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 28px;
}

@keyframes slide-left {
    0% {
        margin-left: 0;
    } 
    100% {
        margin-left: -1756px;
    } 
}

@keyframes slide-right {
    0% {
        margin-left: -1756px;
    } 
    100% {
        margin-left: 0;
    } 
}

@keyframes slide-left-mobile {
    0% {
        margin-left: 0;
    } 
    100% {
        margin-left: -964px;
    } 
}

@keyframes slide-right-mobile {
    0% {
        margin-left: -964px;
    } 
    100% {
        margin-left: 0;
    } 
}