@import '../../../../styles/variables';
@import '../../../../styles/mixins';

.topHeaderContainer {
    height: 461px;
    background-color: $gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include mobile {
      height: 264px;
      display: block;
      padding-top: 61px;
    }
}

.headerText {
    font-size: 35px;
    line-height: 1.34;
    text-align: center;

    @include mobile {
      font-size: 30px;
    line-height: normal;
    }
}

.headerSecondText {
    color: $red;
    // border-bottom: 4px solid $heading-line;
    overflow: hidden;
    text-align: center;
    margin-bottom: 81px;

    @include mobile {
      height: 60px;
      margin-bottom: 0;
    }
}

.content {
   
    &__container {
 
      &__list {
        margin: 0;
        padding-left: 0;
        list-style: none;
        min-height: 41px !important;
        width: 850px !important;  
        z-index: 0;
        
        @include mobile {
          width: 375px !important;
          margin-left: auto;
          margin-right: auto;
        }
  
        &__item {
          margin:0;

          @include mobile {
            line-height: 1.03;
            height: 60px;
          }
        }
      }
    }
  }

  .topHeader__chatBtn {
    font-size: 18px;
    color: $white;
    background-color: $red;
    width: 161px;
    height: 35px;
    border-radius: 15.5px;
    line-height: 35px;
    display: block;
    text-align: center;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 33px;
  }