@import '../../../../styles/variables';

.thankYou {

    &_wrapper {
        padding-left: 97px;
        padding-right: 97px;
        padding-top: 207px;
        padding-bottom: 115.4px;
        text-align: center;
    }
    
    &__text {
        font-size: 35px;
        font-weight: $font-bold;
        line-height: 1.09;
        text-align: center;
        margin-bottom: 53.6px;
    }

    &__signature {
        margin-left: 142px;
    }
}