@import '../../../../styles/variables';
@import '../../../../styles/mixins';

.thankYou {

    &_wrapper {
        padding-left: 97px;
        padding-right: 97px;
        padding-top: 207px;
        padding-bottom: 115.4px;
        text-align: center;

        @include mobile {
            padding-top: 114px;
            padding-left: 26px;
            padding-right: 26px;
        }
    }
    
    &__text {
        font-size: 35px;
        font-weight: $font-bold;
        line-height: 1.09;
        text-align: center;
        margin-bottom: 53.6px;

        @include mobile {
            font-size: 28px;
            font-weight: $font-regular;
            line-height: 1.36;
            margin-bottom: 45.6px;
        }
    }

    &__signature {
        margin-left: 142px;

        @include mobile {
            width: 163px;
            margin-left: 85px;
        }
    }
}