@import '../../../../styles/variables';
@import '../../../../styles/mixins';

.section_capabilities {
    background-color: $gray;
    padding-top: 40px;
    padding-bottom: 60px;

    @include mobile { 
        padding-bottom: 63px;
    }
}

.capabilities {

    &__wrapper {
        display: flex;
        justify-content: center;
        margin-top: 88px;

        @include mobile { 
            flex-direction: column;
            margin-top: 63px;
        }
    }

    &__item {
        width: 230px;
        margin-right: 35px;

        @include mobile {
            width: calc( 100% - 80px);
            margin-right: 40px;
            margin-left: 40px;
            margin-bottom: 52px;

            &:last-child {
                margin-bottom: 0;
            }
        }

        &:last-child {
            margin-right: 0;
        }

        &__card {
            border-radius: 10px;
            background-color: $white;
            height: 318px;
            padding: 66px 14px 14px 14px;
            position: relative;

            @include mobile {
                border-radius: 15px;
                height: 239px;
                padding: 59px 17px 14px 32px;
            }

            &__circle {
                width: 94px;
                height: 94px;
                background-color: $base-color;
                border-radius: 50%;
                position: absolute;
                left: 14px;
                top: -41px;

                @include mobile { 
                    width: 80px;
                    height: 80px;
                    left: 15px;
                    top: -33px;
                }
            }

            &__category {
                font-size: 16px;
                font-weight: $font-bold;
                margin-bottom: 1px;
            }

            &__title {
                font-size: 20px;
                font-weight: $font-bold;
                height: 82px;

                @include mobile { 
                    font-size: 22px;
                    height: auto;
                    margin-bottom: 19px;
                }
            }

            &__includes {
                font-size: 18px;
                line-height: 1.06;
                position: relative;

                @include mobile {
                    font-size: 16px;
                    line-height: 1.13;
                }

                p {
                    margin-top: 0;
                    margin-bottom: 0;
                }
            }

            &__line {
                height: 30px;
                width: 6px;
                background-color: $base-color;
                position: absolute;
                left: -14px;
                top: 0;

                @include mobile {
                    left: -32px;
                }
            }
        }
        
    }
}